<html>
<head>
    <meta charset='UTF-8' />
    </head>
<#if errorMessage??>
<strong> ${errorMessage} </strong> <br />
    <#if userName??>
   username was: ${userName}
    </#if>
</#if>

<form action='/login' method='POST'>
    <input type='text' name ='email' />
    <input type='password' name='password' />
    <input type='checkbox' name='rememberMe' value='yes' /> Remember me
    <input type='submit' value='Enter'>
    </form>
</html>