.content {
    border-left: thin solid navy;
}

.filters {
}

.my-error-class {
    color:#FF0000;  /* red */
}

.footer {
    border-top: thin solid gray;
    margin-top: 30px;
    text-align: center;
    color: white;
    background-color: #CD5C5C;
}

.selected{
  color: #CD5C5C;
}
